doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/twitter_map_style.css')
    link(rel='stylesheet', href='/stylesheets/tipsy.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/d3.v2.min.js')
    script(src='/javascripts/jquery.tipsy.js')
    script(src='/javascripts/jquery-ui/jquery-ui.min.js')
    
  body
    block content